/*
  VARIABLES
*/

// TYPOGRAPHY
$bodyFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;


// COLOURS
$bgColor: black;
$textColor: white;


// CENTERING IN THE UNKNOWN
@mixin centering {
  text-align: center;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

