@import "../style/variables";

body {
  font-size: 16px;
}

header {
}

main {
}

button {
}

a {
  text-decoration: none;
  color: $textColor;
  cursor: pointer;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}